[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
mlflow = "*"
optuna = "*"
prefect = "*"
python-dotenv = "*"
psycopg2-binary = "*"
boto3 = "*"
awswrangler = "*"
flask = "*"
gunicorn = "*"
evidently = "*"
pytz = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
