[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
mlflow = "*"
optuna = "*"
prefect = "*"
python-dotenv = "*"
colorama = "*"
Jinja2 = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.8"
